body {
  font-family: "Roboto", sans-serif;

  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

/* Nav BAr */
.nav-item {
  font-weight: bold;
}

.navbar {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.176);
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.login-button {
  background-color: #14a8ff;
  border-color: #14a8ff;
}
.signup-button {
  background-color: white;
  border-color: #14a8ff;
  color: #14a8ff;
}

.dropdown-menu a {
  color: #14a8ff;
}
.dropdown-menu a:hover {
  background-color: #14a8ff;
  color: white;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.navbar-nav .nav-item {
  text-align: center;
}

/* footer section */

.footer-container ul.list-unstyled li a {
  font-size: 12px;
  text-decoration: none;
  color: inherit; /* Maintain the text color */
}

.footer-container h5 {
  font-size: 14px;
  color: #14a8ff;
}

/* modal css */
.modal-content {
  text-align: center;
}

.custom-modal-button {
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 0px;
}

/* Style for the "Continue with Facebook" button */
.custom-modal-button.facebook {
  background-color: #1877f2; /* Facebook blue */
  color: white;
  border-radius: 0px;
}

/* Style for the "Continue with Email" button */
.custom-modal-button.email {
  background-color: #1877f2; /* Orange color */
  color: white;
  border-radius: 0px;
}

/* Hover effect for buttons */
.custom-modal-button:hover {
  opacity: 0.8;
}

/* Header Section */
.header {
  background-color: #ffffff;
  color: #1877f2;
  padding: 40px 0;
  align-items: center;
}

.header img {
  max-width: 100%;
  text-align: right;
  border-radius: 15px;
}

.header-text {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.header-text h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 34px;
  text-align: left;
  color: black;
}

.header-text h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  font-family: "Blinker", sans-serif;
  font-weight: 900;
  font-size: 100px;
}

.header-text p {
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

.header-text span {
  font-size: 36px;
}

/* Custom CSS styles for the "SIGNUP AS PARKNER" section */

.signup-section-title {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  background-color: #2d2d2d;
}
.signup-section {
  text-align: left;
  color: #000000;
  font-weight: bolder;
  background-color: #ffffff;
}

.row-signup {
  text-align: center;
  align-items: center;
}

.heading-signup {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.form-label {
  font-size: 17px;
}
.form-check {
  font-weight: 400;
}

.tutorial {
  font-weight: 400;
}
