body {
  font-family: "Roboto", sans-serif;

  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

/* Nav BAr */
.nav-item {
  font-weight: bold;
}

.navbar {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.176);
}

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.login-button {
  background-color: #14a8ff;
  border-color: #14a8ff;
}
.signup-button {
  background-color: white;
  border-color: #14a8ff;
  color: #14a8ff;
}

.dropdown-menu a {
  color: #14a8ff;
}
.dropdown-menu a:hover {
  background-color: #14a8ff;
  color: white;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.navbar-nav .nav-item {
  text-align: center;
}

/* Search Bar */
.white-background-container {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border: 2px solid;
  border-color: #cecece !important;
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.436);
}

label {
  display: block; /* Make labels block-level elements */
  font-weight: bold; /* Add bold font weight */
  margin-bottom: 5px; /* Add some space below each label */
  font-size: 14px; /* Adjust the font size as needed */
  color: #b3b3b3; /* Change the label text color */
}

/* Custom CSS for the search button */
.search-button {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  font-size: 50px; /* Adjust the font size of the icon as needed */
  border-radius: 35px !important;
}

.line {
  font-size: 10px;
}
.details-btn {
  text-decoration: none;
  color: white;
}

.box {
  border: 1px solid #ccc;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 100px;
  margin-bottom: 30px;
  text-align: center;
  width: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(185, 185, 185, 0.408);
}

.list-container {
  margin-left: 50px;
  margin-right: 50px;
}

.box img {
  width: 200px;
}

#detailsButton {
  background-color: #14a8ff;
  border-color: none !important;
  font-size: small;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.col-md-2.box.all.homeParking h6 {
  color: #000000;
  margin-bottom: 0px;
  font-weight: bold;
}

.col-md-2.box.all.homeParking p {
  margin-bottom: 5px;
}

.star {
  color: gold;
}

/* footer section */

/* Remove underlines from links */
.footer-container ul.list-unstyled li a {
  font-size: 12px;
  text-decoration: none;
  color: inherit; /* Maintain the text color */
}

.footer-container h5 {
  font-size: 14px;
  color: #14a8ff;
}
