.header {
  background-image: url('../../assets/images/hero.jpg');
  background-size: cover;
  color: #fff;
}

.header h1,
.header .options p {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.295);
}

.header h1 {
  /* font-size: 5rem; */
  font-size: clamp(4rem, 4vw, 6rem);
}

.header .subHeading {
  /* font-size: 2.6rem !important; */
  font-size: clamp(2rem, 4vw, 3rem) !important;
}

.heroForm {
  border-radius: 0.5rem;
  padding: 1rem 0.1rem;
}
