@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
  --primary-color: #14a8ff;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60.31px;
}

a {
  text-decoration: none;
}

.modal-backdrop {
  background-color: hsla(230, 75%, 15%, 0.9);
  backdrop-filter: blur(100px);
}
